<h3>Open Stope Stability Graph general information</h3>
<div class="accordion">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          The stability graph and its evolution
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>The open stopes in underground mines are large non-entry voids designated to mass extraction of ores. With the technological development and potential of large blast holes, open stoping has become economically attractive. However, even if some dilution caused by rock failure from walls or roof is tolerable, increased stope sizes increase the instability of open stope and lead to excessive dilution, consequently, resulting in high cost. Mathews et al. (1981) conducted an empirical study to determine if there is a relationship between rockmass characteristics, mining depth and stability of open stopes. As a result of this research work, the stability graph was developed based on 26 data from three mines to predict the stability state of the stope. The axes of the stability graph are defined according to equations (1) and (3). The graph is a plot of stability number, N, against hydraulic radius, HR (also termed as a shape factor) and is demonstrated in Figure 1a.</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Stress factor (A)
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Factors A, B and C were incorporated into stability number calculation to account for the effect of stress, joint orientation and gravity. With the increased data by Potvin, the initial graphs for these factors were modified, subsequently led to the modified stability number N’. Experience with the application of these factors indicates that stress and gravity factors still need to be reconsidered and re-defined. The different case histories on mine site also reveals that faults/shear zones nearby open stopes, stand-up time of the stopes and blasting also affect the stope stability and need to be accounted for. </p>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Joint defect factor (B)
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Suorineni (2010) notes that the original, modified and extended stability graphs lack the fault consideration, which affects the open stope stability. At many mine sites, stope walls evaluated as stable employing the stability graph often fail due to the presence of the faults. This failure leads to ore dilution, ore loss and unexpected increased cost if the fault presence is ignored or not considered. To correct this flaw of the stability graph, Suorineni, Tannant, and Kaiser (1999) developed the fault factor F to integrate it into the stability number estimation for open stope stability assessment. The chart of fault factor for the specific fault case is shown in Figure 7. </p>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Gravity factor (C)
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Shape factor is incorporated into the stability graph to account for stope geometry. It is also termed as a hydraulic radius and calculated using Eq. (3). The hydraulic radius is not always suitable for rectangular stope walls. Two stope hanging walls (HWs) with different sizes can result in equal hydraulic radius. For example, HW with 18 m height and 30 m strike length and another HW with 25 m height and 20.5 m strike have an equal HR of 5.63 m. The different horizontal and vertical elongation of stope surface has a different impact on dilution due to induced stresses. The dilution from a taller (vertical) rectangular stope surface is greater than from a shorter (horizontal) rectangular wall because of unfavorable induced stress conditions. </p>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Fault factor (F)
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>The stability graph is intended to provide qualitatively the stability state of open stopes, while the major concern of the industry is an amount of over-break that causes ore dilution leading to excessive cost. Dilution lines first were added to the stability graph by Scoble and Moss (1994). Clark and Pakalnis (1997) introduced ELOS (Equivalent Linear Overbreak/Sloughing) term to quantitatively estimate the ore dilution from hanging wall and footwall instability (see Figure 10). ELOS is defined by Eq. (8). </p>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Time effects on stope stability
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>The stability graph is intended to provide qualitatively the stability state of open stopes</p>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Hydraulic radius (HR)
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>The stability graph is intended to provide qualitatively the stability state of open stopes</p>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          The stability graph limitations
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>The stability graph is intended to provide qualitatively the stability state of open stopes</p>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          The stability graph variations
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>The stability graph is intended to provide qualitatively the stability state of open stopes</p>
    </mat-expansion-panel>

  </mat-accordion>
</div>
