  .calc button {
    background-color: #226556;
    border: none;
    color: white;
    padding: 0.4em;
    width: 10%;
    text-align: center;
    text-decoration: none;
    font-size: 1.1em;
    border-radius: 0.5em;
    margin-top: 2em;
    display: block;
    margin-left: 15%;
  }
  .calc button:focus {
    outline:none !important;
  }
  input[type=number], select, textarea {
    border-color: #3a3a3a;
    color: black;
    margin-left: 7em;
    width: 25%;
    padding: 0.6em;
    border-radius: 0.5em;
    resize: vertical;
    box-shadow: none !important;
  }

  label {
    padding: 0.6em 0.6em 0.2em 0;
    text-align: left;
    display: block;
    font-size: 1em;
    color: black;
    margin-bottom: 0;
    margin-left: 9em;
  }
.text-danger {
  width: 25%;
  margin-left: 10em;
  padding-bottom: 0;
  margin-bottom: 0;
  position: fixed;
  font-size: smaller;
}


  