<div class="results">

    <div id="wrapper">
      <div id="box-area">
        <div class="box" id="front">Hangingwall</div>
        <div class="box" id="back">Footwall</div>
        <div class="box" id="top">Stope Back</div>
        <div class="box" id="bottom">Bottom</div>
        <div class="box" id="left">Sidewall</div>
        <div class="box" id="right">Sidewall</div>
      </div>
    </div>
  
    <h5>Stope Volume <span style="float:right;color:#226556;">{{volume}} m<sup>3</sup></span></h5>
    <hr>
    <h5>Stope back HR <span style="float:right;color:#226556;">{{hrCrown}} m</span></h5>
    <ul>
      <li>Area <span style="float:right">{{crownA}} m<sup>2</sup></span></li>
      <li>Perimeter <span style="float:right">{{crownP}} m&nbsp;</span></li>
    </ul>
    <hr>
    <h5>Footwall HR<span style="float:right;color:#226556;">{{hrFoot}} m</span></h5>
    <ul>
      <li>Area <span style="float:right">{{footA}} m<sup>2</sup></span></li>
      <li>Perimeter <span style="float:right">{{footP}} m&nbsp;</span></li>
    </ul>
    <hr>
    <h5>Hangingwall HR<span style="float:right;color:#226556;">{{hrHang}} m</span></h5>
    <ul>
      <li>Area <span style="float:right">{{hangA}} m<sup>2</sup></span></li>
      <li>Perimeter <span style="float:right">{{hangP}} m&nbsp;</span></li>
    </ul>
    <hr>
    <h5>Sidewall HR<span style="float:right;color:#226556;">{{hrSide}} m</span></h5>
    <ul>
      <li>Area <span style="float:right">{{sideA}} m<sup>2</sup></span></li>
      <li>Perimeter <span style="float:right">{{sideP}} m&nbsp;</span></li>
    </ul>
    <div class="next">
      <button class="nav-item nav-link-edit" routerLink="/qvalue">Next &raquo;</button>
    </div>
  </div>
  