h2 {
  text-align: center;
  margin-top: 2%;
}

.container {
  position: fixed;
  overflow: hidden;
  height: 100%;
  margin: auto;
  margin-left: 40%;
  margin-top: 1%;
  width: 150%;
  color: #000000;
  font-size: 1em;
}

button {
  background: #226556;
  border: none;
  color: white;
  font-size: 1.1em;
  margin-top: 3%;
  padding: 0.4em 0.7em;
  position: relative;
  left: 41%;
  border-radius: 0.2em;
}
button:focus {
  outline:none !important;}
  
.subject {
  margin: 4%;
  text-align: center;
}

select {
  margin-left: 7%;
}
input, select {
  box-shadow: none !important;
}
textarea {
  box-shadow: none !important;
} 


