<div class="results">

    <div id="aFactor">
      <h4 style="text-align:center; padding-bottom:0; margin-bottom:0">Factor A</h4>
      <canvas baseChart
              [datasets]="barChartDataA"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [plugins]="barChartPlugins"
              [legend]="barChartLegend"
              [chartType]="barChartType"
              [colors]="aChartColors">
      </canvas>
    </div>
  
    <div id="bFactor" style="display: block;">
      <h4 style="text-align:center; padding-bottom:0; margin-bottom:0">Factor B</h4>
      <canvas baseChart
              [datasets]="barChartDataB"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [plugins]="barChartPlugins"
              [legend]="barChartLegend"
              [chartType]="barChartType"
              [colors]="bChartColors">
      </canvas>
    </div>
  
    <div id="cFactor" style="display: block;">
      <h4 style="text-align:center; padding-bottom:0; margin-bottom:0">Factor C</h4>

        <canvas baseChart
              [datasets]="barChartDataC"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [plugins]="barChartPlugins"
              [legend]="barChartLegend"
              [chartType]="barChartType"
              [colors]="cChartColors">
      </canvas>
    </div>
  
    <div id="stabNumber" style="display: block;">
      <h4 style="text-align:center;padding-bottom:0; margin-bottom:0">Stability Number</h4>
  
      <canvas baseChart
              [datasets]="barChartDataF"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [plugins]="barChartPlugins"
              [legend]="barChartLegend"
              [chartType]="barChartType"
              [colors]="fChartColors">
      </canvas>
    </div>
  <div id="time"><h4>Time Factor = {{timeFactor}}</h4></div>
  
    <div class="next">
      <button class="nav-item nav-link-edit" routerLink="/stability">predict stability &raquo;</button>
    </div>
  </div>
  
  
  
