<ul class="nav nav-pills nav-fill" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="pills-hr-tab" data-toggle="pill" role="tab" routerLink="/hr" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}" style="padding-left:3em;" aria-controls="pills-hr"><i class="fab fa-codepen"></i>{{sFactorTitle}}</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="pills-qvalue-tab" data-toggle="pill" role="tab" routerLink="/qvalue" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" aria-controls="pills-qvalue" aria-selected="false"><i class="fas fa-chart-pie"></i>{{qValueTitle}}</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="pills-stress-tab" data-toggle="pill" role="tab" routerLink="/stress" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" aria-controls="pills-stress" aria-selected="false"><i class="fas fa-exchange-alt"></i>{{stressTitle}}</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="pills-factors-tab" data-toggle="pill" role="tab" routerLink="/factors" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" aria-controls="pills-factors" aria-selected="false"><i class="fas fa-grip-horizontal"></i>{{abcFactorsTitle}}</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="pills-stability-tab" data-toggle="pill" role="tab" routerLink="/stability" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" aria-controls="pills-stability" aria-selected="false"><i class="fas fa-calculator"></i>{{stabilityAnalysisTitle}}</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="pills-outcome-tab" data-toggle="pill" role="tab" routerLink="/outcome" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" aria-controls="pills-outcome" aria-selected="false"><i class="fas fa-sliders-h"></i>{{outcomeTitle}}</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="pills-additional-tab" data-toggle="pill" role="tab" routerLink="/additional" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" aria-controls="pills-additional" aria-selected="false"><i class="fab fa-rev"></i>{{additionalTitle}}</a>
  </li>
</ul>
