.results {
    position: fixed;
    overflow: hidden;
    top: 35%;
    right: 20%;
    width: 30%;
    height: 100%;
    border: none;
    background-color: #fff;
    padding: 0.6em 1em;
    margin-left: 2em;
    margin-top: 1em;
    text-align: center;
    color: #474747;
    }
  .next button {
    background-color: #226556;
    border: none;
    color: white;
    padding: 0.4em;
    width: 8%;
    text-align: center;
    text-decoration: none;
    font-size: 1.1em;
    border-radius: 0.5em;
    display: block;
    position: fixed;
    bottom: 10%;
    right: 3%;
  }
  .next button:focus {
    outline:none !important;}

  