<div class="results">
    <h3 style="font-size: 1.6em;">Modified rockmass quality index </h3>

    <h3 style="font-size: 2em; color:#226556;">Q' = {{qRes}} </h3>
    <hr style="height:2px; width: 70%; border-width:0;color:#226556;background-color:#226556">
    <h4 style="text-align:center;">
      According to Q' and RQD, the rockmass quality is {{qQuality}} and {{rqdQuality}}, respectively.</h4>
  
  
    <div class="next">
      <button class="nav-item nav-link-edit" routerLink="/stress">Next &raquo;</button>
    </div>
  </div>
